---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <h3 class="title">{{ post.title }}</h3>
					</a>
                    {% if post.description %}
					<p class="post-subtitle">{{ post.description }}</p>
                    {% else %}
                    <p class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
                    {% endif %}
			        <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>
