---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                        {% if post.description %}
                        <br>{{ post.description }}
                        <!-- <h4 class="post-subtitle">{{ post.description }}</h4> -->
                        {% else %}
                        <br>{{ post.excerpt | strip_html | truncatewords: 15 }}
                        <!-- <h4 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h4> -->
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>

    <div class="container projects">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
  <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
